*{
    margin: 0;
    box-sizing: border-box;
    cursor: url(cursor.png), auto;
}
h3{
    color: #ff0000;
font-style: italic;
text-align: center;				
}
#mi_estilo{
color: blue;
text-align: right;

}
.nuestro_estilo{
color: rgba(6, 4, 4, 0.89);
text-align: center;
}
.carrusel{
    border: 1px solid black;
    height: 900px;
    position: relative;
}
.slider{
    height: 100%;
}
.flechas{
    height: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#contenido{
    border: 5px solid black;
    height: 900px;
    overflow: hidden;
}
.carrusel img {
    background-color: #f0f0f0; /* Color de fondo para el espacio vacío alrededor de la imagen */
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.social-icons a{
    display: inline-block;
    margin: 0 10px;
    background-image: url(css_sprites.png);
    transition: transform 0.3s, box-shadow 0.3s;
}
.iteminstagram {
    width: 64px; height: 64px;
    background: url(css_sprites.png) -10px -10px;
}
.itemfacebook{
    width: 64px; height: 64px;
    background: url(css_sprites.png) -10px -94px;
}
.itemtiktok{
    width: 64px; height: 64px;
    background: url(css_sprites.png) -94px -10px;
}
#reloj-analogico {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#clock {
    border-radius: 50%;
    background-color: white;
}
/* Estilo para el menú flotante */
.menu-flotante {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
}

.menu-flotante ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-flotante ul li {
    margin: 10px 0;
}

.menu-flotante ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.menu-flotante ul li a:hover {
    text-decoration: underline;
}


